# Flutter/Dart
.dart_tool/
.packages
.pub/
build/

# Android
android/.gradle/
android/app/build/
android/local.properties
android/key.properties

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/engine/
ios/Flutter/GeneratedPluginRegistrant.*

# Firebase (IMPORTANT)
android/app/google-services.json
ios/Runner/GoogleService-Info.plist

# IDE
.idea/
.vscode/
*.iml
